In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
test_dict = dict()
test_dict['feature1'] = [1, 0]
test_dict['feature2'] = [np.nan, np.nan]

In [4]:
pickle.dump(test_dict, open("datasets/debugger/test_dict.pkl", "wb"))

In [6]:
raw = pd.read_pickle("datasets/train_N_extra/rawdata.pkl")

In [9]:
raw.raw_data.keys()

dict_keys(['time', 'lon', 'lat', 'id', 'U500', 'V500', 'U300', 'V300', 'T850', 'MSL', 'PV320', 'pmin', 'year', 'month', 'x', 'y', 'z'])

In [10]:
# check V300
num_rows = len(raw.raw_data['V300'])

In [16]:
np.sum(np.isnan(raw.raw_data['V300']))

77989

In [17]:
np.sum(np.isinf(raw.raw_data['V300']))

0

In [18]:
# check T850
np.sum(np.isnan(raw.raw_data['T850']))

91348

In [19]:
np.sum(np.isinf(raw.raw_data['T850']))

0

In [20]:
np.sum(np.isnan(raw.raw_data['U500']))

0

In [21]:
invalid_ids = np.argwhere(np.isnan(raw.raw_data['T850']))[:, 0]

In [27]:
np.argwhere(np.isnan(raw.raw_data['T850'])).shape

(91348, 3)

In [24]:
raw.raw_data['month'][invalid_ids]

array([8., 8., 8., ..., 8., 8., 8.])

In [33]:
set(raw.raw_data['month'][invalid_ids])

{8.0}

In [34]:
set(raw.raw_data['year'][invalid_ids])

{2008.0}

In [25]:
raw.raw_data['id'][invalid_ids]

array([116932, 116932, 116932, ..., 118193, 118193, 118193], dtype=int32)

In [28]:
index = set(raw.raw_data['id'][invalid_ids])
index = list(index)

In [32]:
sum([cid in index for cid in raw.raw_data['id']])

7720

In [30]:
np.argwhere(raw.raw_data['id'] in index)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()